{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid" style="background: black;">
		<div class="container" style="color: white;">
		</br>
			<h1>About Us</h1>
			<p style="color: grey;">
				<a href="/" style="color: white">Home</a> | About us</br>	

			</p>
		</div>

</div>


<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="jumbotron" style="text-align: justify;">
				<h1>Who we are</h1>
				<p>IAG Construction Solutions is based in Johhannesburg South Africa and it has shown growth from time to time. It is within our philosophy that we pursue opportunities in the local and regional markets, both independently and in association with strategic partners. Our main focus is to provide construction solutions to residential, commercial and industrial projects. Also, we are not merely transforming properties, but we believe in the realization of our clients’ dreams in quality properties and value appreciation.</p>

				<p>We understand that a property’s appearance is an integral part to its marketability and full realisation of its value, whether to a home owner or a property developer; therefore, we create designs and patterns that perfectly match our clients’ needs. </p>

				<p>We pride ourselves in ensuring that clients receive the highest quality output possible, delivered at the right price, using the right material and at the right time. Allied to best practice application, this ensures that we are able to deliver a finished product of high standard at cost-effective rates.</p>
				</p>
			</div>
			<div class="jumbotron">
				<h1>Our Vision</h1>
				<p>To be the highest value creation home improvements company across the globe.</p>

				<h1>Mission</h1>
				<p>To constantly improve the quality of the services we offer through the use of the most advanced technologies and the involvement of highly professional personnel providing control over the execution of the entire cycle of our projects.</p>

				<h1>Our Values</h1>
				<i>Four principles of success:</i>
				<li>Accountability</li>
				<li>Integrity</li>
				<li>Innovative</li>
				<li>Teamwork</li>
			</div>
		</div>

		<div class="col-md-6">
			<div class="jumbotron">
			<h1>Our Partners</h1>
			<a href="http://www.sapaverstilers.co.za/"><img src="/static/img/SAPaversandTilers.png" alt="img" style="height: 100px; width: 250px></a>
			<img src="/static/img/IAG.png" alt="img" style="height: 100px; width: 250px">

			<img src="/static/img/IAGSoftwareDevelopers.png" alt="img" style="height: 100px; width: 250px">
			<img src="/static/img/MliloRoadMarkings.png" alt="img" style="height: 100px; width: 250px">
			<br>
			<br>
			</div>
			<div class="jumbotron">
				<h1>The Philosophy of teamwork</h1>
				<p>As no entity can provide all services to all people, we have close working relationships with other companies in the same business sectors to ensure that where projects requires additional human capital, machinery and ideas; they are made available to meet our clients’ needs. This enabled us to meet our clients’ deadlines and tackle any contracts whether small or big.</p>
				<h1>Why choose us?</h1>

				<h5>Safety First</h5>
				<p>We respect the safety for our clients, we do criminal checks on all our employees and we choose the best and ethical employees into our workforce. </p>
				<h5>Guarantee</h5>
				<p>For all our workmanship, we issue a satisfaction guarantee. </p>

			</div>						
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">

		</div>
		<div class="col-md-6">

		</div>

	</div>
</div>









{% endblock %}