{% extends 'index.html' %}

{% load crispy_forms_tags %}


{% block content %}

	<div class="jumbotron" style="text-align: center; background-image: url(/static/img/Construction1.jpg); background-size: cover; background-repeat: no-repeat; min-height: 100%;">

		  <h1 style="color: white">What we do:</h1>

		  	<marquee  behavior="alternative" direction="up" style="text-align: center; color: red; font-weight: bolder; position: relative;">
		  			<ul><h1>Painting | Plumbing</h1></ul>
		  			<ul><h1>Flooring | Paving</h1></ul>
		  			<ul><h1>Carpentry | Tiling</h1></ul>
		  			<ul><h1>Plastering | Cleaning</h1></ul>

		  	</marquee>
	  
		  <p style="color: white">We visualise your dream</p>

		  <p>
		  	<a class="btn btn-lg" href="services" role="button" style="color: #445c6d; background-color: white">Get Services</a>&nbsp&nbsp&nbsp<a class="btn btn-lg" href="contact" role="button" style="color: white; background-color: #445c6d; ">Contact now</a>
		  </p>
	</div>

	<div>
		<h1 style="text-align: center; font-family: 'Arial-Narrow';">Our Services</h1>
		<hr>
	</div>






 <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-6 shadow-sm">

            <div class="card-body">

             <div style="text-align: center;">
              <ul><h4 style="color: #445c6d">Home Improvements</h4></ul>
              <ul><h6>Painting and waterproofing</h6></ul>
              <ul><h6>Paving and tiling</h6></ul>
              <ul><h6>Dump proofing</h6></ul>
              <ul><h6>Plastering</h6></ul>
              <ul><h6>Capentry</h6></ul>
            </div>
              
            </div>
          </div>
        </div>



        <div class="col-md-6">
          <div class="card mb-6 shadow-sm">
            <div class="card-body">
            <div style="text-align: center;">
              <ul><h4 style="color: #445c6d">Home Improvements</h4></ul>
              <ul><h6>Fence installation</h6></ul>
              <ul><h6>Landscaping</h6></ul>
              <ul><h6>Plumbing</h6></ul>
              <ul><h6>Flooring</h6></ul>
              <ul><h6>Cleaning</h6></ul>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




<div class="jumbotron" style="height: 80px; background-image: linear-gradient(90deg, black 50%, #445c6d 50%);">
	<div class="row">
		<div class="col-md-6">
			<h5 style="color: white;">Four Principles of Success</h5>
		</div>

  		<div class="col-md-6">
	  		<ul style="color: white;">
	  			<h5>Book for a free quote:</h5>
	  		</ul>
  		</div>	
	</div>
</div>



<div class="row">
	<div class="col-md-6">
		<div class="jumbotron" style="background-image: url(/static/img/timage.jpg); background-size: cover; background-repeat: no-repeat; min-height: 100%; margin-left: 5px; margin-right: 5px; text-align: justify;">
			<p>
				<h5>Accountability</h5>

We believe that in all the services we provide we remain accountable to our clients, companies, teammates, subcontractors and suppliers.  At the core of accountability is reliability and personal responsibility. We value our ability to honor our commitments.
<br><br><br>

<h5>Integrity</h5>

We believe that being straightforward and honest in all our professional and business relationships with clients builds a culture of fairness to both parties. In simple terms, we are open and honest; our business is ethically and morally strong and we respect accountability.
<br><br><br>

<h5>Innovative</h5>

We are good listeners, learners, and we seek out the best ideas. We attack complacency and continually improve. Our team strives to be ahead of the game by continually improving the way we do things for ourselves and our clients. We also embrace technology in our services.
<br><br><br>

<h5>Teamwork</h5>

Our teams work together to create an environment where dependability, safety and success are expected. We are supportive and respect each other’s roles and responsibilities. Our employee and client relationships are built on trust, collaboration and communication.
<br><br><br>


		</div>
	</div>
  <div class="col-md-6">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: red;">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="POST" class="post-form">{% csrf_token %}
      {{ form|crispy }}
<button type="submit" class="save btn btn-primary" style="background-color: #003366; color: white;"> Submit </button>
</form>   

  </div>
</div>













{% endblock %}