{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
	<div class="row">
	  <div class="col">
		    <img class="card-img-top" src="/static/img/Construction14.jpg" alt="Card image cap" style="height: 300px;">
		    <br>
		    <br>
		    <h1>General Maintenance</h1>
		    <p style="text-align: justify;">IAG Construction Solutions has the capabilities to successfully complete a job of any size, and has yet to come across an issue in they couldn’t tackle. However, it’s their problem-solving abilities that truly set them apart. Our technicians primarily perform maintenance for residential, commercial and industrial properties with jobs ranging from making minor roof leak repairs to running contract based maintenance solutions. IAG also has extensive experience removing graffiti to restore scarred surfaces, to their original condition. Our services includes amongst others: Roof leak repairs, Tenant improvement work, Parking lot resealing and restriping</p>
		    <br>

	  </div>
	  <div class="col">

			<img class="card-img-top" src="/static/img/Construction16.png" alt="Card image cap" style="height: 300px">
			<br>
			<br>
			<h1>Painting</h1>
			<p>Our vision is to create a magnificently beautiful space when we offer painting services. The steps we take to make it happen are carefully planned and coordinated so that every client is entirely happy and delighted with their fresh new look.We believe every step in the painting process is equally important to the success of the final output. </p>

			<li>Interior & Exterior Painting</li>
			<li>Water Proofing | Roof Painting</li>


			    
	  </div>
	</div>
<br>
<br>
	<div class="row">
	  <div class="col">
		    <img class="card-img-top" src="/static/img/Construction21.jpg" alt="Card image cap" style="height: 300px">
		    <br>
			<br>
		    <h1>Carpentry</h1>
		    <p>At IAG Construction Solutions we provide carpentry services to residential, commercial and industrial projects. With today’s increased demand for quality, more residential apartments built day and night and increase of office parks whether for core working or traditional offices; there is an increase of the need to make your property impressive from first site. Our carpentry services ranges from the installation of the following: Kitchen renovation/fitting | Aluminium doors & windows | Bespoke furnisher | Built in closet | Ceilings & Coving | Cladding | Decking | Doors, Frames, Windows, Screens | Facia & Soffits (Guttering) | Floor & Skirting’s | Handrails / Balustrades | Plaster Board / Dry Lining & Partitions | Shelving | Shop/ Bar Fittings | Staircases | Furniture assembly</p>

	  </div>
	  <div class="col">
			    <img class="card-img-top" src="/static/img/Construction22.jpg" alt="Card image cap" style="height: 300px">
			    <br>
			    <br>
			    <h1>Plumbing</h1>
			    <p>We offer a highly professional plumbing service to clients and use a team of qualified and experienced plumbers who are available 24 hours a day and guarantee to solve everything from a plumbing related problem to a full creation or renovation of bathrooms and kitchens.</p>

				<strong>What we do:</strong>
				<p>Residential maintenance plumbing | Commercial maintenance plumbing | Solar geyser installation | Bathroom and kitchen refurbishment and remodeling | All bathroom fittings | Washing machine and dishwasher installation | Pressure valve testing | Blocked toilets, sinks, pipes and drains | Gutters and down pipes | Showers and pressure adjustments | And all other plumbing related services</p>

	  </div>

	</div>



<div class="row">
	  <div class="col">

			    <img class="card-img-top" src="/static/img/Construction20.jpg" alt="Card image cap" style="height: 300px">
			    <br>
			    <br>
			    <h1>Flooring</h1>
			    <p>There comes a time in every home owner’s life when they need to upgrade the design and comfort of their property. One of the best ways of achieving that is through the installation of a desirable floor. Durable, easily cleaned and maintained, our ranges of floors have the ability to completely transform your space.

				IAG Construction Solutions’ experienced professionals can help with any job, ranging from fixing an existing floor to a complete new installation. We can accurately perform every step of any flooring project, from measuring the space and advising on the quantity of materials needed.

				Our flooring services includes: PVC or Vinyl | Laminate | Wood | Stone | Concrete | Terrazzo | Mosaic Tiles</p>
	  </div>


	  <div class="col">
			    <img class="card-img-top" src="/static/img/Construction18.jpg" alt="Card image cap" style="height: 300px">
			    <br>
			    <br>
			    <h1>Plastering</h1>
			    <p>Our professional plasterers have the expertise and knowledge to plaster the following areas of your property:</p>

				<li>Interior walls</li>
				<li> Exterior walls </li> 
				<li>Ceilings</li>
				<li>Durawalls</li>
	  </div>

</div>

</div>

{% endblock %}